services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-broker
    ports:
      - "5672:5672" 
      - "15672:15672" 
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest

  app-mensajeria:
    build: .
    container_name: app-productor-consumidor
    depends_on:
      - rabbitmq
    environment:
      - RABBIT_HOST=rabbitmq
    ports:
      - "8082:8080"